@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

body {
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    overflow-x: hidden;
    background-color: #B3B3B3;
    position: relative;
}

.bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 28px;
}


.buttonBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}



#start-camera:hover{
  background-color:#696969;
  transition: 1s;
}

#click-photo:hover{
    background-color:#696969;
    transition: 1s;
}

.webcam {
    position: fixed;
    top: 70px;
    left: 20px;
    z-index: 5;

}

#canvas {
  position: fixed;
  top: 70px;
  left: 700px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  z-index: 4;
}

#video {
    position: relative;
    top: 0px;
    left: 0px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}


.content {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.remindimg {
    display: none;
}

.remindimg.active {
    width: auto;
    height: 200px;
    border-radius: 6px;
    z-index: 2;
    transition: 1s;
    display: block;
}

.remind {
    display: none;
    z-index: 5;
}

.remind_box.active {
    background-color: #acacac;
    border-radius: 8px;
    position: fixed;
    z-index: 1;
    width: 380px;
    height: 380px;
    top: 70px;
    left: 700px;
    display: block;
    opacity: 0.7;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.remind.active {
    z-index: 2;
    color: #111;
    font-size: 18px;
    transition: 1s;
    display: block;
    margin-top: 20px;
    font-family:"Raleway";
}


#body_mesh{
    z-index: 1;
    opacity: 0.7;
    position: absolute;
    top:0px;
    right:0px;
    left:0px;
    bottom:0px;
    opacity: 0.8;
    width: 640px;
    height: 480px;
}


header {
    position: fixed;
    top: 0;
    background-color: #E2E3E7;
    left: 0;
    width: 100%;
    z-index: 10;
    height: 40px;
    display: grid;
    grid-template-columns: 7fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    transition: 0.5s;
    padding-top: 10px;
    box-shadow: 0 0 4px #222;
}

header .logo {
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    margin-left: 20px;
    text-decoration: none;
    justify-self: flex-start;
    align-self: center;
    padding-top: 3px;
    padding-bottom: 0px;
    cursor: pointer;
}


header .logo span {
    color: #7c7474;
    font-size: 0.8em;
}


header .headerUsername {
  color: #413d3d;
  font-size: 1em;
  margin-right: 30px;
  font-weight: 700;
  text-decoration: none;
  justify-self: center;
  align-self: center;
  cursor: default;
}

header .logout {
    color: #7c7474;
    font-size: 1em;
    margin-right: 30px;
    font-weight: 700;
    text-decoration: none;
    justify-self: center;
    align-self: center;
}

a {
    text-decoration:none;
    color: white;
    font-size: 1em;
    margin-right: 20px;
    font-weight: 700;
}


header .logout:hover {
    color: #312e2e;
}

  /* popup */


.nextPage {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.center {
  font-family:"Raleway";
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);

}
.popup {
  width:350px;
  height:280px;
  padding:30px 20px;
  background:#f5f5f5;
  border-radius:10px;
  box-sizing:border-box;
  z-index:2;
  text-align:center;
  opacity:0;
  top:-200%;
  transform:translate(-50%,-50%) scale(0.5);
  transition: opacity 300ms ease-in-out,
              top 1000ms ease-in-out,
              transform 1000ms ease-in-out;
}
.popup.active {
  opacity:1;
  top:50%;
  transform:translate(-50%,-50%) scale(1);
  transition: transform 300ms cubic-bezier(0.18,0.89,0.43,1.19);
  height: 350px;
  z-index: 20;
}
.popup .icon {
  margin:5px 0px;
  width:50px;
  height:50px;
  border:2px solid rgb(160, 0, 0);
  text-align:center;
  display:inline-block;
  border-radius:50%;
  line-height:60px;
}
.popup .icon i.fa {
  font-size:30px;
  color:rgb(160, 0, 0);
}
.popup .title {
  margin:5px 0px;
  font-size:30px;
  font-weight:600;
}
.popup .description {
  color:#222;
  font-size:15px;
  padding:5px;
  margin-top: 20px;
}
.popup .dismiss-btn {
  margin-top:15px;
  z-index: 1000;
}
.popup .dismiss-btn button {
  padding:10px 20px;
  background:#111;
  color:#f5f5f5;
  border:2px solid #111;
  font-size:16px;
  font-weight:600;
  outline:none;
  border-radius:10px;
  cursor:pointer;
  transition: all 300ms ease-in-out;
  text-align: center;
  z-index: 50;
}
.popup .dismiss-btn button:hover {
  color:#111;
  background:#f5f5f5;

}

button {
  text-align: center !;
}

.popup .dismiss-btn button a:hover {
    color:#111 !important;
    background:#f5f5f5;
  }

.popup > div {
  position:relative;
  top:10px;
  opacity:0;
}
.popup.active > div {
  top:0px;
  opacity:1;
}
.popup.active .icon {
  transition: all 300ms ease-in-out 250ms;
}
.popup.active .title {
  transition: all 300ms ease-in-out 300ms;
}
.popup.active .description {
  transition: all 300ms ease-in-out 350ms;
}
.popup.active .dismiss-btn {
  transition: all 300ms ease-in-out 400ms;
}

.center #open-popup-btn {
    display: none;
}

.popup .successIcon {
    margin:5px 0px;
    width:50px;
    height:50px;
    border:2px solid rgb(28, 121, 0);
    text-align:center;
    display:inline-block;
    border-radius:50%;
    line-height:60px;
  }
  .popup .successIcon i.fa {
    font-size:30px;
    color:rgb(28, 121, 0);
  }

  .info {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 185px;
    background-color: #5f5f5f;
  }

  .methodBlock {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 185px;
    background-color: #5f5f5f;
    z-index: 3;
    
  }

  .methodBlock.active {
   display: none;
   transition: 2s;
  }

  .method {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 180px;
    background-color: rgb(236, 236, 236);
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .methodImg {
    width: auto;
    height: 150px;
    margin-right: 50px;
    margin-left: 150px;
    box-shadow: 0 0px 3px #5f5f5f;
  }

  .messages {
    color: #494444;
    font-size: 0.8em;
  }

  .button1 {
    position: fixed;
    right: 0;
    bottom: 85px;
    background-color: #4b4747;
    height: 40px;
    border-radius: 8px 0px 0px 8px;
    width: 150px;
    display: flex;
    flex-wrap: wrap;
    padding: 2px;
    color:  #e9e9e9;
    box-shadow: 0 3px 2px rgb(36, 36, 36);
    cursor: pointer;
    z-index: 100;
  }
  .button1 i {
    font-size:40px;
    padding-right: 5px;
    padding-left: 5px;
  }

  .button1:hover {
    background-color: #312727;
  }
  .button2 {
    position: fixed;
    right: 0;
    bottom: 25px;
    background-color: #7c7474;
    border-radius: 8px 0px 0px 8px;
    height: 40px;
    width: 150px;
    display: flex;
    flex-wrap: wrap;
    padding: 2px;
    color:  #e9e9e9;
    box-shadow: 0 3px 2px rgb(36, 36, 36);
    cursor: pointer;
    z-index: 100;
  }

  .button2:hover {
    background-color: #494444;
  }
  .button2 i {
    font-size:40px;
    padding-right: 5px;
    padding-left: 5px;
  }
