@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

body {
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  overflow-x: hidden;
  background-color: #B3B3B3;
  position: relative;
}

.audio {
    width: 400px;
    height: 600px;
    border-radius: 20px;
    padding: 20px;
    border: 2px soild #757575;
    margin: 50px auto;
}

.audio audio {
    outline: none;
}

#video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 640px);
    grid-auto-rows: 480px;
    transform: scale(1.3, 1.3);
    position: fixed;
    top: 165px;
    left:10vw;
    z-index: 1000;
    /* margin-bottom: 5000px; */
  }

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    
  }


/* header */
.bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 28px;
}


header {
  position: fixed;
  top: 0;
  background-color: #E2E3E7;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 40px;
  display: grid;
  grid-template-columns: 7fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
  /* justify-content: space-between;
  align-items: center; */
  transition: 0.5s;
  padding-top: 10px;
  box-shadow: 0 0 4px #222;
}

header .logo {
  color: #fff;
  font-size: 2em;
  font-weight: 700;
  margin-left: 20px;
  text-decoration: none;
  /* text-align: end; */
  justify-self: flex-start;
  align-self: center;
  padding-top: 3px;
  padding-bottom: 0px;
  cursor: pointer;
}


header .logo span {
  color: #7c7474;
  font-size: 0.8em;
}


header .logout {
  color: #7c7474;
  font-size: 1em;
  margin-right: 30px;
  font-weight: 700;
  text-decoration: none;
  justify-self: center;
  align-self: center;
}

header .buttonBox {
  display: flex;
}

header .headerUsername {
  color: #413d3d;
  font-size: 1em;
  margin-right: 30px;
  font-weight: 700;
  text-decoration: none;
  justify-self: center;
  align-self: center;
  cursor: default;
}

a {
  text-decoration:none;
  color: white;
  font-size: 1em;
  margin-right: 20px;
  font-weight: 700;
}


header .logout:hover {
  color: #312e2e;
}

/* message */

.right {
position: fixed;
right: 0;
top: 0;
transition: 2s;
}

.messageBox {
  position: absolute;
   background-color: white;
   border-radius: 20px;
   width: 550px;
   height: 200px;
   top: 130px;
   right: 30px;
   box-shadow: 4px 3px 8px #222;
}

.messageBox.active {
  display: none;
}

.message {
  font-size: 1.5em;
  width: 600px;
  color:#757373;
  margin-top: 20px;
}

.message p {
  margin-left: 20px;
  margin-bottom: 15px;
  margin-top: 5px;
}

.ok {
  background-color: #757575;
  width: 100px;
  border-radius: 8px;
  padding: 5px;
  font-size: 1em;
  text-align: center;
  position: absolute;
  right: 20px;
  color: white;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 35px;
  cursor: pointer;
  transition: 1s;
}

.ok:hover {
  background-color: rgb(44, 44, 44);
  transition: 1s;
}

  #canvas {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }

.rightImg {
  z-index: 100;
  position: fixed;
  bottom: -125px;
  right: 150px;
  transform: scale(0.7, 0.7);
}

.rightImg.active {
  display: none;
}

.lowLogo {
  position: fixed;
  z-index: 101;
  font-size: 7em;
  right: 130px;
  bottom: 260px;
  
}
.lowLogo.active {
  display: none;
}

.lowLogo span {
  font-size: 70px;
  color: #7c7474;
}

.infoBox {
  width: 400px;
  height: 220px;
  position: fixed;
  bottom: 80px;
  right: 65px;
  background-color: white;
  box-shadow: 4px 3px 8px #222;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  background-color: #bdbdbd;
  width: 350px;
  height: 170px;
  border-radius: 8px;
  padding-left: 15px;
  padding-top: 0;
  padding-bottom: 0%;
  color: #665f5f;
  
}