/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;  
}
/* test */
.test_button{
  position: fixed;
  top: 24vh;
  left: 5vw;
  background-color: #ffffff;
  color: white;
  z-index: 999;
  font-size: 30px;
}
/* test */

body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background:#459ea7;
  padding: 30px;
  overflow: hidden;
}
.container{
  position: relative;
  max-width: 80vw;
  min-height: 85vh;
  width: 100%;
  background: #fff;
  padding: 40px 30px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.4);
  perspective: 2700px;
  opacity: 0.8;
}
.container .cover{
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 50%;
  z-index: 98;
  transition: all 1s ease;
  transform-origin: left;
  transform-style: preserve-3d;
  box-shadow: 0 5px 10px rgba(0,0,0,0.4);
}
.container .cover::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: #b1e3e7;
  opacity: 0.5;
  z-index: 100;
}


.container .cover::after{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: #b1e3e7;
  opacity: 0.5;
  z-index: 100;
  transform: rotateY(180deg);
}
.container #flip:checked ~ .cover{
  transform: rotateY(-180deg);
}
.container .cover img{
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 12;
  backface-visibility: hidden;
}
.container .cover .back .backImg{
  transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.container .cover .text{
  position: absolute;
  z-index: 111;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  top: 5%;
}

#text1 {
    position: absolute;
   bottom: 12%;
   right: 5%;

  }

.cover .text .text-1,
.cover .text .text-2{
  font-size: 55px;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  backface-visibility: hidden;
  opacity: 0.8;
}
.cover .back .text .text-1,
.cover .back .text .text-2{
  transform: rotateY(180deg);
}
.cover .text .text-2{
  font-size: 15px;
  font-weight: 500;
}
.container .forms{
  height: 100%;
  width: 100%;
  background: #fff;
}
.container .form-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-content .login-form,
.form-content .signup-form{
  width: calc(100% / 2 - 25px);
}
.forms .form-content .title{
  position: relative;
  font-size: 35px;
  font-weight: 500;
  color: #243d3f;
}
.forms .form-content .title:before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 50px;
  background: #50868B;
}
.forms .signup-form  .title:before{
  width: 50px;
}
.forms .form-content .input-boxes{
  margin-top: 30px;
}
.forms .form-content .input-box{
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  margin: 10px 0;
  position: relative;
}
.form-content .input-box input{
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  padding: 0 30px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}
.form-content .input-box input:focus,
.form-content .input-box input:valid{
  border-color:#50868B;
}
.form-content .input-box i{
  position: absolute;
  color: #50868B;
  font-size: 17px;
}
.forms .form-content .text{
  font-size: 14px;
  font-weight: 500;
  color: #333;
}
.forms .form-content .text a{
  text-decoration: none;
}
.forms .form-content .text a:hover{
  text-decoration: underline;
}
.forms .form-content .button{
  color: #fff;
  margin-top: 60%;
  left: 72%;
  width: 25%;
}
.forms .form-content .button input{
  color: #fff;
  background: #243d3f;
  border-radius: 6px;
  padding: 0;
  cursor: pointer;
  transition: all 0.4s ease;
}
.forms .form-content .button input:hover{
  background: #50868B;
}
.forms .form-content label{
  color:#50868B;
  cursor: pointer;
  outline: none;
}
.forms .form-content label:hover{
  text-decoration: underline;
}
.forms .form-content .login-text,
.forms .form-content .sign-up-text{
  text-align: end;
  margin-top: 5vh;
  font-size: 25px;
}
.container #flip{
  display: none;
}
@media (max-width: 730px) {
  .container .cover{
    display: none;
  }
  .form-content .login-form,
  .form-content .signup-form{
    width: 100%;
  }
  .form-content .signup-form{
    display: none;
  }
  .container #flip:checked ~ .forms .signup-form{
    display: block;
  }
  .container #flip:checked ~ .forms .login-form{
    display: none;
  }
}
