@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    overflow: hidden
}

/* header */

header {
    position: fixed;
    top: 0;
    background-color: #E2E3E7;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    box-shadow: 0 0 4px #222;
}



#logo {
    color: rgb(117, 117, 117) !important;
    font-size: 2em;
    font-weight: 700;
    margin-left: 20px;
    text-decoration: none;
    /* text-align: end; */
    justify-self: flex-start;
    align-self: center;
    padding-top: 3px;
    padding-bottom: 3px;
    position: fixed;
    top: 0;
    left: 50px;
    z-index: 1000;
}

#logo span {
  color: #7c7474 !important;
  font-size: 0.8em;
  z-index: 1000;
}

#logo span .bb {
  color: rgb(117, 117, 117) !important;
  font-size: 2em;
  font-weight: 700;
  margin-left: 20px;
  text-decoration: none;
  /* text-align: end; */
  justify-self: flex-start;
  align-self: center;
  padding-top: 3px;
  padding-bottom: 3px;
  position: fixed;
  top: 0;
  left: 50px;
  z-index: 1000;
}

#logout {
    color: #7c7474 !important;
    font-size: 1em;
    margin-right: 20px;
    font-weight: 700;
    text-decoration: none;
    position: fixed;
    top: 0;
    margin-top: 12px;
    right: 0;
    z-index: 1000;
}


.headerUsername {
  color: #7c7474 !important;
  font-size: 1em;
  margin-right: 20px;
  font-weight: 700;
  text-decoration: none;
  position: fixed;
  top: 0;
  margin-top: 12px;
  right:100px;
  z-index: 1000;
  cursor: default;
}

#logout:hover {
    color: #312e2e !important;
    z-index: 1000;
}

a {
    text-decoration:none;
    color: rgb(194, 194, 194);
    font-size: 1em;
    margin-right: 20px;
    font-weight: 700;
}

a:hover {
  color: inherit;
}

/* baby video stream */

#video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 640px);
  grid-auto-rows: 480px;
  transform: scale(1.3, 1.3);
  position: fixed;
  top: 150px;
  left: 120px;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}


/* basic content */

.left{
    background-color:#c4c4c4;
    height: 100vh;
}

.realTimeVideoBox {
    width: 640px;
    height: 480px;
    background-color: white;
    position: fixed;
    top: 130px;
    left: 130px;
}

.right{
    background-color: #C4C4C4;
    height: 100vh;
    position: relative;
}

/* menu */

.redWarnStand {
    z-index: 100;
    width: 250px;
    height: auto;
    position: fixed;
    right: 10px;
    bottom: 0; 
}

.yellowWarnStand {
    z-index: 100;
    width: 250px;
    height: auto;
    position: fixed;
    right: 100px;
    bottom: 0; 
}




/* suffocation */
  .suffocationPopup {
    font-family:"Raleway";
    width:100%;
    height: 250px;
    padding:10px 20px;
    background:#f5f5f5;
    border:3px solid #C4C4C4;
    border-radius:10px;
    box-sizing:border-box;
    z-index:2;
    text-align:center;
    opacity:0.2;
    top:0px;
    right: 0;
    position: absolute;
  }

  .babyimg {
    width: auto;
    height: 50px;
}

  .suffocationPopup.active {
    opacity:1;
  }
  .suffocationPopup .suffocationIcon {
    margin:5px 0px;
    width:50px;
    height:50px;
    border:3px solid  rgb(189, 189, 189);
    text-align:center;
    display:inline-block;
    border-radius:50%;
    line-height:60px;
  }
  
  .suffocationPopup .suffocationIcon.yellow {
    border:3px solid rgb(245, 220, 0);
  }

  .suffocationPopup .suffocationTime.yellow {
    background-color: rgb(245, 220, 0);
  }

  .suffocationPopup .suffocationIcon.red {
    border:3px solid rgb(255, 0, 0);
  }

  .suffocationPopup .suffocationTime.red {
    background-color: rgb(255, 0, 0);
  }
  

  .suffocationPopup .suffocationTitle {
    margin:5px 0px;
    font-size:30px;
    font-weight:600;
  }

  .suffocationPopup .suffocationTime {
    margin:5px 0px;
    font-size:30px;
    border-radius: 30px;
    font-weight:600;
  }
  .suffocationPopup .suffocationDescription {
    color:#222;
    font-size:15px;
    padding:5px;
    margin-top: 10px;
  }
  
  .suffocationPopup > div {
    position:relative;
    top:10px;
    opacity:0;
  }
  .suffocationPopup.active > div {
    top:0px;
    opacity:1;
  }
  .suffocationPopup.active .suffocationIcon {
    transition: all 300ms ease-in-out 250ms;
  }
  .suffocationPopup.active .suffocationTitle {
    transition: all 300ms ease-in-out 300ms;
  }
  .suffocationPopup.active .suffocationDescription {
    transition: all 300ms ease-in-out 350ms;
  }
 
  .suffocationPopup > div {
    top:0px;
    opacity:1;
  }
  .suffocationPopup .suffocationIcon {
    transition: all 300ms ease-in-out 250ms;
  }
  .suffocationPopup .suffocationTitle {
    transition: all 300ms ease-in-out 300ms;
  }

  .suffocationPopup .suffocationTime {
    opacity: 0;
  transition: all 300ms ease-in-out 300ms;
}
  .suffocationPopup .suffocationDescription {
    opacity: 0;
    transition: all 300ms ease-in-out 350ms;
  }
 
/* leave */
.leavePopup {
    font-family:"Raleway";
    width:100%;
    border:3px solid #C4C4C4;
    height: 250px;
    padding:10px 20px;
    background:#f5f5f5;
    border-radius:10px;
    box-sizing:border-box;
    z-index:2;
    text-align:center;
    opacity:0.2;
    top:250px;
    right: 0;
    position: absolute;
  }

  .leavePopup.active {
    opacity:1;
  }
  .leavePopup .leaveIcon {
    margin:5px 0px;
    width:50px;
    height:50px;
    border:3px solid rgb(189, 189, 189);
    text-align:center;
    display:inline-block;
    border-radius:50%;
    line-height:60px;
  }

  .leavePopup .leaveIcon.yellow {
    border:3px solid rgb(245, 220, 0);
  }

  .leavePopup .leaveTime.yellow {
    background-color: rgb(245, 220, 0);
  }

  .leavePopup .leaveTitle {
    margin:5px 0px;
    font-size:30px;
    font-weight:600;
  }

  .leavePopup .leaveTime {
    margin:5px 0px;
    font-size:30px;
    background-color: rgb(245, 220, 0);
    border-radius: 30px;
    font-weight:600;
  }

  .leavePopup .leaveIcon.red {
    border:3px solid rgb(255, 0, 0);
  }

  .leavePopup .leaveTime.red {
    background-color: rgb(255, 0, 0);
  }

  .leavePopup .leaveDescription {
    color:#222;
    font-size:15px;
    padding:5px;
    margin-top: 10px;
  }
  
  .leavePopup > div {
    position:relative;
    top:10px;
    opacity:0;
  }
  .leavePopup.active > div {
    top:0px;
    opacity:1;
  }
  .leavePopup.active .leaveIcon {
    transition: all 300ms ease-in-out 250ms;
  }
  .leavePopup.active .leaveTitle {
    transition: all 300ms ease-in-out 300ms;
  }
  .leavePopup.active .leaveDescription {
    transition: all 300ms ease-in-out 350ms;
  }
 
  .leavePopup > div {
    top:0px;
    opacity:1;
  }
  .leavePopup .leaveIcon {
    transition: all 300ms ease-in-out 250ms;
  }
  .leavePopup .leaveTitle {
    transition: all 300ms ease-in-out 300ms;
  }

  .leavePopup .leaveTime {
    opacity: 0;
  transition: all 300ms ease-in-out 300ms;
}
  .leavePopup .leaveDescription {
    opacity: 0;
    transition: all 300ms ease-in-out 350ms;
  }
/* cry */
  
.cryPopup {
    font-family:"Raleway";
    width:100%;
    height: 230px;
    padding:10px 20px;
    background:#f5f5f5;
    border-radius:10px;
    box-sizing:border-box;
    border:3px solid #C4C4C4;
    z-index:2;
    text-align:center;
    opacity:0.2;
    top:500px;
    right: 0;
    position: absolute;
  }

  .cryPopup.active {
    opacity:1;
  }
  .cryPopup .cryIcon {
    margin:5px 0px;
    width:50px;
    height:50px;
    border:3px solid rgb(189, 189, 189);
    text-align:center;
    display:inline-block;
    border-radius:50%;
    line-height:60px;
  }

  .cryPopup .cryIcon.active {
    border:3px solid rgb(122, 193, 221);
  }

  .cryPopup .cryTitle {
    margin:5px 0px;
    font-size:30px;
    font-weight:600;
  }

  .cryPopup .cryTime {
    margin:5px 0px;
    font-size:30px;
    background-color: rgb(122, 193, 221);
    border-radius: 30px;
    font-weight:600;
  }
  .cryPopup .cryDescription {
    color:#222;
    font-size:15px;
    padding:5px;
    margin-top: 10px;
  }
  
  .cryPopup > div {
    position:relative;
    top:10px;
    opacity:0;
  }
  .cryPopup.active > div {
    top:0px;
    opacity:1;
  }
  .cryPopup.active .cryIcon {
    transition: all 300ms ease-in-out 250ms;
  }
  .cryPopup.active .cryTitle {
    transition: all 300ms ease-in-out 300ms;
  }
  .cryPopup.active .cryDescription {
    transition: all 300ms ease-in-out 350ms;
  }
 
  .cryPopup > div {
    top:0px;
    opacity:1;
  }
  .cryPopup .cryIcon {
    transition: all 300ms ease-in-out 250ms;
  }
  .cryPopup .cryTitle {
    transition: all 300ms ease-in-out 300ms;
  }

  .cryPopup .cryTime {
    opacity: 0;
  transition: all 300ms ease-in-out 300ms;
}
  .cryPopup .cryDescription {
    opacity: 0;
    transition: all 300ms ease-in-out 350ms;
  }

  @import url("https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:400,600");


#nav-container {
  position: fixed;
  height: 100vh;
  width: 100%;
  
}

#nav-container * {
  visibility: visible;
}

.button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  -webkit-appearance: none;
  border: 0;
  background: transparent;
  border-radius: 0;
  height: 50px;
  width: 30px;
  cursor: pointer;
  pointer-events: auto;
  margin-left: 25px;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.icon-bar {
  display: block;
  width: 100%;
  height: 3px;
  background: #aaa;
  transition: 0.3s;
}
.icon-bar + .icon-bar {
  margin-top: 5px;
}

#nav-container:focus-within .button {
  pointer-events: none;
}
#nav-container:focus-within .icon-bar:nth-of-type(1) {
  transform: translate3d(0, 8px, 0) rotate(45deg);
}
#nav-container:focus-within .icon-bar:nth-of-type(2) {
  opacity: 0;
}
#nav-container:focus-within .icon-bar:nth-of-type(3) {
  transform: translate3d(0, -8px, 0) rotate(-45deg);
}

#nav-content {
  margin-top: 50px;
  padding: 20px;
  width: 90%;
  max-width: 500px;
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 50px);
  background: #d6d6d6;
  pointer-events: auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transform: translateX(-100%);
  transition: transform 0.3s;
  will-change: transform;
  contain: paint;
  z-index: 100;
}

#nav-content ul {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#nav-container:focus-within #nav-content {
  transform: none;
}

ul {
  padding: 0;
  list-style: none;
}


.table {
  width: 100%;
  height: 120%;
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
  padding: 10px;
}

.allInfo {
  width:100%;
  height:90vh;
  overflow:auto;
}


.allInfo::-webkit-scrollbar {
  width: 1em;
}
 
.allInfo::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color:#ffffff
}
 
.allInfo::-webkit-scrollbar-thumb {
  background-color:rgb(175, 175, 175);
}

.allInfo::-webkit-scrollbar-thumb:hover {
  background-color:rgb(109, 109, 109);
}


.time  {
  color: #050505;
  font-size: 1em;
  padding-left: 30px;
  margin-bottom: 0px;
  padding-bottom: 0;
}

.month {
  font-size: 1em !important;
  color: #05030f;
}

.status {
  color: rgb(145, 0, 0);
  font-size: 0.9em;
  margin-bottom: 0px;
  padding-bottom: 0;
}

.warningMessage {
color:rgb(83, 83, 83);
margin-top: 0px;
margin-bottom: 20px;
font-size: 0.8em;
background-color:  #c7c7c7;
border-radius: 8px;
padding: 5px;
padding-left: 35px;
width: 400px

}