body {
    background-image: url('../../images/404.jpg');
    background-size: cover;
}

.msg {
    background-color: white;
    opacity: 0.8;
    color: rgb(191, 195, 180);
    position: fixed;
    width: auto;
    font-size: 50px;
    padding: 10px;
    top: 5vh;
    left: 3vw;
    border-radius: 20px;
}