@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

body {
    background-color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    min-height: 1000px;
    overflow-x: hidden;
    transition: 2s;
    opacity: 0.8;
}
body:hover {
 opacity: 1;

}



body::-webkit-scrollbar {
    width: 1em;
  }
   
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color:#e6e6e6
  }
   
body::-webkit-scrollbar-thumb {
    background-color:#928484
  }

body::-webkit-scrollbar-thumb:hover {
    background-color:#4e3b38
  }


/* home section */

p {
    font-weight: 300;
    color: #111;
}

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: baseline;
    align-items: center;
    background-image: url('../../images/babyback2.jpg');
    background-size: cover;
}

img {
    position: fixed;
    right: 0;
    bottom: 0;
    width: auto;
    height: 80vh;
}

.banner .content {
    max-width: 900px;
    text-align: center;
    opacity: 0.6;
    border-radius: 20px;
    position: absolute;
    right: 0;
    top: 55vh;
    padding: 1vh;

}

.banner .content:hover {
    transition: 2s;
    opacity: 1;
    backdrop-filter: blur(15px);
    opacity: 0.9;
}


.banner .content h2 {
    font-size: 4em;
    color:  #89585B;
    letter-spacing: -3px;
    padding-right: 2vw;
}

.banner .content p {
    font-size: 0.9em;
    color: #7c7474;;
    flex-wrap: wrap;
    text-align: end;
    padding-right: 2vw;
    margin-top: 2vh;
}

.btn {
    font-size: 1em;
    color: #fff;
    background: #89585B;
    display: inline-block;
    padding:  10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    margin-bottom: 20px;
}

.btn:hover {
    letter-spacing: 6px;
    color: #fff;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
header.sticky {
    background: #E7E7E9;
    padding: 7px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
}

header .logo {
    color: #fff;
    font-size: 2.5em;
    font-weight: 700;
    text-decoration: none;
    text-align: end;
}


header .logo span {
    color: #7c7474;
    font-size: 0.8em;
}


header .navigation {
    position: relative;
    display: flex;
    margin-bottom: -2vh;
}

header .navigation li {
    list-style: none;
    margin-left: 30px;
}

header .navigation li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.2em;
    text-align: end;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 3vh;
}

header.sticky .navigation li a {
    color: #614f50;
}

header .navigation li a:hover {
    color: #7c7474;
    transition: 1s;
    height: auto;
    opacity: 1;
    border-radius: 20px;
    opacity: 0.5;
}

header.sticky .navigation li a:hover {
    color: white;
    background-color: #7c7474;
    transition: 1s;
    height: auto;
    padding: 1vw;
    opacity: 0.7;
    border-radius: 20px;
}

section {
    padding: 100px;
    height: 95vh
}

.row {
    position: relative;
    width: 100%;
}

.space {
    width: 100vw;
    height: 1vh;
    background-color: #928484;
}
/* about section */

.about {
    background-image: url('../../images/babyback5.jpg');
    background-size: cover;
    height: 100vh;
}

.aboutBox {
    width: 37vw;
}



.row .co150 {
    position: relative;
    width: 37vw;
    top: 5vh;
    padding-bottom: 20vh;
}

.titleText {
    color: #5E3A2A;
    font-size: 2em;
    font-weight: 600;
    opacity: 0.9;
}

.titleText span {
    color:#5E3A2A;
    font-size: 1.5em;
    font-weight: 900;
}

.co150 p {
    font-size: 1em;
    margin-top: 4vh;
}

/* concern session */
.concern
 {
    background-image: url('../../images/babyback8.jpg');
    background-size: cover;
    height: 100vh;
}

.concernText {
    color: #A2694E;
    font-size: 2em;
    font-weight: 600;
    opacity: 0.9;
}

.concernText span {
    color:#644130;
    font-size: 1.5em;
    font-weight: 900;
}

.concernP {
    color:#644130;
    font-size: larger;
}


/* contact session */
.contact 
 {
    background-image: url('../../images/babyback7.jpg');
    background-size: cover;
    height: 100vh;
}

.contact .row .co150 {
    position: relative;
    width: 70vw;
    top: 3vh;
    padding-bottom: 20vh;
}

.contactText {
    color: #4e3b38;
    font-size: 2em;
    font-weight: 600;
    opacity: 0.9;
}

.contactText span {
    color:#2c2220;
    font-size: 1.5em;
    font-weight: 900;
}

.contact .row .co150 p {
    color: #4e3b38;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    position: absolute;
    margin-left: 5vh;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}


@media (max-width: 770px)
 {
    body {
        overflow-y: hidden;
    }

    header {
        padding: 2vh;
    }

    header .navigation {
        display: none;
    }

    header.sticky .navigation li a {
        position: fixed;
        top: 2vh;
        left: 2vw;
        margin: 0;
        padding: 0;
    }

    .banner .content {
        max-width: 70vh;
        text-align: center;
        opacity: 0.6;
        border-radius: 20px;
        position: fixed;
        right: 0;
        top: 55vh;
        padding: 1vh;
        background-color: white;
    }

    .banner .content p {
        display: none;
    }
    .space {
        display: none;
    }

    #about {
        display: none;
    }

    #concern {
        display: none;
    }

    #contact {
        display: none;
    }

    .banner {

        background-image: url('../../images/mobilebabyback.jpg');
    }
 }


 @media (max-width: 600px)
 {
    .banner .content {
        max-width: 70vh;
        text-align: center;
        opacity: 0.6;
        border-radius: 20px;
        position: fixed;
        right: 0;
        top: 56vh;
        padding: 1vh;
        background-color: white;
    }
 }