@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}


section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

section .imgBx {
    position: relative;
    width: 50%;
    height: 100%;
}

section .imgBx:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(225deg, #f04908, #03a9f4);
    z-index: 1;
    mix-blend-mode: screen;
}


section .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 5px 20px rgba(97, 47, 6, 0.151);
}

section .contentBx {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    opacity: 0;
    transition: 1s;
}

section .contentBx:hover {
 opacity: 1;
}


section .contentBx .formBx {
    width: 50%;
}

section .contentBx .formBx h2 {
    color: #f04908;
    font-weight: 600;
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #f04908;
    display: inline-block;
    letter-spacing: -2px;
}

section .contentBx .formBx .inputBx {
    margin-bottom: 20px;
}

section .contentBx .formBx .inputBx span {
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #f04908;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
}

section .contentBx .formBx .inputBx input {
    width: 80%;
    padding:  10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #f04908;
    font-size:  16px;
    letter-spacing:  1px;
    color: #f04908;
    background: transparent;
    border-radius: 30px;
}

section .contentBx .formBx .inputBx input[type="submit"] {
    background: #e68964 ;
    color: white;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
    width: 40%;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

section .contentBx .formBx .inputBx input[type="submit"]:hover {
    background: #ff8457 ;
}

section .contentBx .formBx .inputBx p {
color: #e2a086;
}

section .contentBx .formBx .inputBx p a {
    color: #ff4800
}  

section .contentBx .formBx h6 {
    color: #e68964;
    text-align: center;
 
    font-weight: 500;
    
}

.googleLogin {
 display: flex;
 justify-self: flex-start;
 align-items: center;
 cursor: pointer;
 list-style: none; 
 text-decoration: none;
}

section .contentBx .formBx img {
    width: auto;
    height: 8vh;
    border-radius: 50px;
    transform: scale(0.5);
}


/* mobile version */

@media (max-width: 770px)
 {
     section .imgBx {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
     }
     section .contentBx {
         display: flex;
         justify-content: center;
         align-items: center;
         width: 100%;
         height: 100%;
         z-index: 1;
     }
     section .contentBx .formBx 
     {
         width: 100%;
         padding: 40px;
         background: rgb(255 255 255 / 0.8);
         margin: 30px;
     }

     section .contentBx .formBx h6
     {
         color: #e68964;
         text-align: center;
         margin: 30px 0 10px;
         font-weight: 500;
     }
 }